
<style>
    .tableRow_0{
    }
    .tableRow_1{
    }
</style>

            <ul class="layui-tab-title">
                <li class="layui-this"    onclick="appList();">应用列表</li>
                <li   onclick="appAdd();" class="layui-btn">添加应用</li>
            </ul>

            <div>
                <div class="layui-form form_container" style="margin-top: 15px;">

                    <div class="layui-form-item layui-inline" style=" ">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="appname" lay-verify="" name="appname" placeholder="请输入应用名称.."
                                   autocomplete="off" class="layui-input" th:value="${app.name}" />
                        </div>
                    </div>



                    <div class="layui-form-item layui-inline"  >
                        <label class="layui-form-label" style="width:120px;">状态</label>
                        <div class="layui-input-inline">
                            <select name="state" id="state" lay-verify="required"  th:field="${app.state}" th:value="${app.state}"   >
                                <option value=""></option>
                                <option th:each="t:${stateList}" th:value="${t.code}" th:text="${t.name}"></option>
                            </select>
                        </div>
                    </div>


                    <div class="layui-form-item layui-inline"  >
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-radius  "
                                     onclick="searchFunc();">
                                查询
                            </button>
                        </div>
                    </div>


                </div>
            </div>

            <input type="hidden" th:value="${totalPages}"  id="pagerTotalPage"/>
            <input type="hidden" th:value="${pageNum}"  id="pagerCurrPage"/>

            <table class="layui-table">
                <input type="hidden" id="pages" th:value="${totalPages}"/>

                <thead>
                <tr >
                    <th>ID</th>
                    <th>系统名称</th>
                    <th>API密钥</th>
                    <th>类型</th>
                    <th>状态</th>
                    <th>备注</th>
                    <shiro:hasanypermissions name="app:del,app:edit,app:tradetypeset">
                        <th width="200" >操作</th>
                    </shiro:hasanypermissions>

                </tr>
                </thead>
                <tbody>
                <tr th:id="'r_'+${app.id}" th:each="app : ${appList}" th:class="${ 'tableRow_'+app.state}">
                    <td th:text="${app.id}">id</td>
                    <td th:text="${#strings.length(app.appname) le 15? app.appname: #strings.substring(app.appname,0,12)+'...'}" th:title="${app.appname}">appname</td>
                    <td th:text="${app.apikey}">apikey</td>
                    <td th:text="${T(cn.gotoil.owstoniadmin.model.enums.AppType).getNameByCode(app.type)}" style="min-width: 50px;">type</td>
                    <!--<td th:text="${T(cn.gotoil.owstoniadmin.model.enums.StateEnum).getNameByCode(app.state)}">state</td>-->
                    <td th:switch="${app.state}">
                        <span th:case="0" style="" th:text="${T(cn.gotoil.owstoniadmin.model.enums.StateEnum).getNameByCode(app.state)}">state</span>
                        <span  th:case="*" style="color:red;" th:text="${T(cn.gotoil.owstoniadmin.model.enums.StateEnum).getNameByCode(app.state)}">state</span>
                    </td>
                    <td th:text="${#strings.length(app.mark) le 15? app.mark: #strings.substring(app.mark,0,12)+'...'}" th:title="${app.mark}">mark  </td>

                    <shiro:hasanypermissions name="app:del,app:edit,app:tradetypeset">
                        <td style="min-width: 200px;">

                            <a th:id="${app.id}" th:if="${app.state==0}" shiro:hasPermission="app:del" onclick="f_del(this.id,0)" class="layui-btn layui-btn-small">禁用</a>
                            <a th:id="${app.id}" th:if="${app.state==1}" shiro:hasPermission="app:del" onclick="f_del(this.id,1)" class="layui-btn layui-btn-small">启用</a>
                            <a th:id="${app.id}"  shiro:hasPermission="app:edit" onclick = "editRecord(this.id)"   class="layui-btn layui-btn-small">编辑</a>
                            <a th:id="${app.id}"  shiro:hasPermission="app:tradetypeset" onclick="setTradeType(this.id,2);" class="layui-btn layui-btn-small">交易设置</a>

                        </td>
                    </shiro:hasanypermissions>

                </tr>
                </tbody>
            </table>

            <div id="pagerDiv2"  style="text-align: center;"></div>


            <script>
                /*<![CDATA[*/
                var jj;
                layui.use(['form', 'main', 'jquery', 'util', 'layer', 'laypage'], function () {
                    var form = layui.form();
                    var $ = layui.jquery,
                        jj = $,
                        layedit = layui.layedit,
                        laydate = layui.laydate;

                    form.render('select');

                    var laypage = layui.laypage
                        , layer = layui.layer;

                    laypage({
                        cont: 'pagerDiv2'
                        , pages: $("#pagerTotalPage").val() //总页数
                        , groups: 5 //连续显示分页数
                        , curr : $("#pagerCurrPage").val()
                        ,jump: function(obj, first){
                            //得到了当前页，用于向服务端请求对应数据
                            var curr = obj.curr;
                            var appname = $("#appname").val();
                            var type = $("#type").val();
                            var state = $("#state").val();

                            if($("#pagerCurrPage").val()!=curr){
                                $(".mybody_content").load( "/app?type="+type+"&appname="+ encodeURI(appname)+"&pageNum="+curr+"&state="+state );
                            }

                        }
                    });

                });

                function f_del(id,state) {
                    var msg ;
                    if(0==state){
                        msg = "您确定要禁用？";
                    }else {
                        msg = "您确定要启用？";
                    }
                    layer.confirm( msg , {icon: 3, title: '警告'}, function (index) {
                        layui.jquery.getJSON("/app/del/" + id, function (data) {
                            layui.layer.msg(data.message);
                            if (data.status == 0) {
                                setTimeout(function () {
                                    appList();
                                }, 200);
                            }
                        });

                        layer.close(index);
                    });

                }

                function setTradeType(id,type) {
                    $(".mybody_content").load( "/merchant/settrade/" +id+"/"+type+"?t="+new Date().getTime());
                }

                function editRecord(recordID) {
                    $(".mybody_content").load( "/app/form/"+recordID+"?t="+new Date().getTime() );
                }
                function appList() {
                    $(".mybody_content").load( "/app"+"?t="+new Date().getTime() );
                }
                function appAdd() {
                    $(".mybody_content").load( "/app/form/add" +"?t="+new Date().getTime());
                }

                function  searchFunc() {
                    var appname = $("#appname").val();
                    var type = $("#type").val();
                    var state = $("#state").val();

                    $(".mybody_content").load( "/app?type="+type+"&appname="+ encodeURI(appname)+"&state="+state+"&t="+new Date().getTime() );
                }
                /*]]>*/

            </script>


