<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>订单提交</title>
    <script>
        function funSubmit(){
            document.getElementById("orderform").submit();
        }

    </script>
</head>
<body onload="funSubmit()" >

      <form id="orderform" th:object="${unionOrder}" th:action="${url}" th:method="post">

          <br></br><label>inputCharset</label><input type="text" id="inputCharset" name="inputCharset"  th:value="*{inputCharset}" />
          <br></br><label>pickupUrl</label><input type="text" id="pickupUrl" name="pickupUrl"  th:value="*{pickupUrl}" />
          <br></br><label>receiveUrl</label><input type="text" id="receiveUrl" name="receiveUrl"  th:value="*{receiveUrl}" />
          <br></br><label>version</label><input type="text" id="version" name="version"  th:value="*{version}" />
          <br></br><label>language</label><input type="text" id="language" name="language"  th:value="*{language}" />
          <br></br><label>signType</label><input type="text" id="signType" name="signType"  th:value="*{signType}" />
          <br></br><label>merchantId</label><input type="text" id="merchantId" name="merchantId"  th:value="*{merchantId}" />
          <br></br><label>payerName</label><input type="text" id="payerName" name="payerName"  th:value="*{payerName}" />
          <br></br><label>payerEmail</label><input type="text" id="payerEmail" name="payerEmail"  th:value="*{payerEmail}" />
          <br></br><label>payerTelephone</label><input type="text" id="payerTelephone" name="payerTelephone"  th:value="*{payerTelephone}" />
          <br></br><label>payerIDCard</label><input type="text" id="payerIDCard" name="payerIDCard"  th:value="*{payerIDCard}" />
          <br></br><label>pid</label><input type="text" id="pid" name="pid"  th:value="*{pid}" />
          <br></br><label>orderNo</label><input type="text" id="orderNo" name="orderNo"  th:value="*{orderNo}" />
          <br></br><label>orderAmount</label><input type="text" id="orderAmount" name="orderAmount"  th:value="*{orderAmount}" />
          <br></br><label>orderCurrency</label><input type="text" id="orderCurrency" name="orderCurrency"  th:value="*{orderCurrency}" />
          <br></br><label>orderDatetime</label><input type="text" id="orderDatetime" name="orderDatetime"  th:value="*{orderDatetime}" />
          <br></br><label>orderExpireDatetime</label><input type="text" id="orderExpireDatetime" name="orderExpireDatetime"  th:value="*{orderExpireDatetime}" />
          <br></br><label>productName</label><input type="text" id="productName" name="productName"  th:value="*{productName}" />
          <br></br><label>productPrice</label><input type="text" id="productPrice" name="productPrice"  th:value="*{productPrice}" />
          <br></br><label>productNum</label><input type="text" id="productNum" name="productNum"  th:value="*{productNum}" />
          <br></br><label>productId</label><input type="text" id="productId" name="productId"  th:value="*{productId}" />
          <br></br><label>productDesc</label><input type="text" id="productDesc" name="productDesc"  th:value="*{productDesc}" />
          <br></br><label>ext1</label><input type="text" id="ext1" name="ext1"  th:value="*{ext1}" />
          <br></br><label>ext2</label><input type="text" id="ext2" name="ext2"  th:value="*{ext2}" />
          <br></br><label>extTL</label><input type="text" id="extTL" name="extTL"  th:value="*{extTL}" />
          <br></br><label>payType</label><input type="text" id="payType" name="payType"  th:value="*{payType}" />
          <br></br><label>issuerId</label><input type="text" id="issuerId" name="issuerId"  th:value="*{issuerId}" />
          <br></br><label>pan</label><input type="text" id="pan" name="pan"  th:value="*{pan}" />
          <br></br><label>tradeNature</label><input type="text" id="tradeNature" name="tradeNature"  th:value="*{tradeNature}" />
          <br></br><label>signMsg</label><input type="text" id="signMsg" name="signMsg"  th:value="*{signMsg}" />
          <br></br><label>customsExt</label><input type="text" id="customsExt" name="customsExt"  th:value="*{customsExt}" />
          <input type="submit" onclick="funSubmit" value="提交" />
      </form>



</body>
</html>