<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout-layui :: site-head">


</head>
<body   onload="initPage()">


<div class="layout">



    <!--侧边栏-->
    <div th:replace="layout-layui :: menu">
    </div>

    <!--主体-->

    <div class="body " >

        <ul class="layui-tab-title" >
            <li   onclick="appList();"   class="layui-btn">应用列表</li>
            <li class="layui-this"   onclick=""><span th:text="${actionType}"></span></li>
        </ul>

        <form class="layui-form form_container"  method="post"  th:object="${app}">

            <div class="layui-form-item">

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block layui-input-has-addon">
                    <input type="hidden" id="appID" name="appID" th:value="*{appID}"/>

                    <input type="text" id="name" name="name"   th:value="*{name}"
                           placeholder="名称"   th:disabled="${isReadOnly}"   th:maxlength ="50"
                           lay-verify="required" class="layui-input"/>

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密钥</label>
                <div class="layui-input-block ">
                    <input type="text" id="appkey" name="appkey"   th:value="*{appkey}"
                           placeholder="密钥自动生成" th:disabled="true"
                           class="layui-input"/>

                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">系统类型</label>
                <div class="layui-input-block">
                    <select name="state" id="state" lay-verify="required" th:field="*{state}"  th:value="*{state}"    >
                        <option th:each="t:${stateList}" th:value="${t.code}" th:text="${t.name}" ></option>
                    </select>

                </div>

            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="remark" id="remark"  th:value="*{remark}" th:maxlength ="400"
                           class="layui-input"   />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">到期日期</label>
                <div class="layui-input-block">

                    <input class="layui-input"  th:value="*{expireDate}" lay-verify="required"
                           placeholder="到期日期" name="expireDate" id="expireDate"
                           onclick="layui.laydate({elem: this,istime: true, min: laydate.now(+0) ,format: 'YYYY-MM-DD hh:mm'})" />
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" >

                    <a  class="layui-btn" lay-submit="" lay-filter="froms" onsubmit="return false;" id="saveOrEditBtn"     >保存</a>

                    <a class="layui-btn" onclick="appList();">列表</a>
                </div>
            </div>
        </form>


    </div>
    

</div>


    <script>

    /*<![CDATA[*/
    layui.use(['form','jquery','main','util','layer',"laydate"], function() {
        var form = layui.form();
        var jquery=layui.jquery,
            layedit = layui.layedit,
            main=layui.main,
            layer=layui.layer,
            laydate = layui.laydate;

        form.render();

        form.verify({
            validName:function (va) {
                if(va.length<2 || va.length>16){
                    return  '名称格式错误，长度要求在2-16位'
                }
            }
        });

        form.on('submit(froms)',function(data){
            main.lockSubmit("#saveOrEditBtn")     ;

//            jquery.post('/web/app/save',JSON.stringify(data.field),function(res){
//                if(res.success==true){
//                    layer.msg(res.msg);
//                    appList();
//                }else{
//                    layer.msg(res.msg);
//                }
//                main.unlockSubmit("#saveOrEditBtn")     ;
//            },"json");

            $.ajax({
                url:"/web/app/save",
                type: 'post',
                data: JSON.stringify(data.field),
                dataType:"json",
                headers : {
                    'Content-Type' : 'application/json;charset=utf-8'
                },
                success: function(res){
                    layui.layer.closeAll();

                    layui.layer.msg(res.msg);

                    if(res.success==true){
                        setTimeout(appList(),5000);
                    }
                    main.unlockSubmit("#saveOrEditBtn")     ;
                }
            });

        }) ;


    });

    function initPage() {
        $("#"+$("#selectedItem").val()).addClass("layui-this");
    }




    function appList() {
        window.location.href = "http://" + window.location.host +"/web/app/index";
    }





    /*]]>*/
</script>

</body>
</html>