<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout-layui :: site-head">


</head>
<body   onload="initPage()">


<div class="layout">



    <!--侧边栏-->
    <div th:replace="layout-layui :: menu">
    </div>

    <!--主体-->

    <div class="body " >

        <ul class="layui-tab-title">
            <li class="layui-this"     >应用列表</li>
            <li   onclick="appAdd();" class="layui-btn">添加应用</li>
        </ul>

        <div>
            <div class="layui-form form_container" style="margin-top: 15px;">

                <div class="layui-form-item layui-inline" style=" ">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" lay-verify="" name="name" placeholder="请输入应用名称.."
                               autocomplete="off" class="layui-input" th:value="${app.name}" />
                    </div>
                </div>



                <div class="layui-form-item layui-inline"  >
                    <label class="layui-form-label" style="width:120px;">状态</label>
                    <div class="layui-input-inline">
                        <select name="state" id="state" lay-verify="required"  th:field="${app.state}" th:value="${app.state}"   >
                            <option value=""></option>
                            <option th:each="t:${stateList}" th:value="${t.code}" th:text="${t.name}"></option>
                        </select>
                    </div>
                </div>


                <div class="layui-form-item layui-inline"  >
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <button class="layui-btn layui-btn-radius  "
                                onclick="searchFunc();">
                            查询
                        </button>
                    </div>
                </div>


            </div>
        </div>

        <input type="hidden" th:value="${appList.totalPages}"  id="pagerTotalPage"/>
        <input type="hidden" th:value="${appList.pageNum}"  id="pagerCurrPage"/>

        <table class="layui-table">

            <thead>
            <tr >
                <th>ID</th>
                <th>名称</th>
                <th>密钥</th>

                <th>状态</th>
                <th>备注</th>
                <th>到期日期</th>

                <th width="200" >操作</th>

            </tr>
            </thead>
            <tbody>
            <tr th:id="'r_'+${app.appID}" th:each="app : ${appList.list}" >

                <td th:text="${app.appID}">id</td>
                <td th:text="${app.name}">name</td>
                <td th:text="${app.appkey}">appkey</td>

                <td th:text="${T(cn.gotoil.znl.model.domain.App.StateEnum).getNameByCode(app.state)}" style="min-width: 50px;">type</td>


                <td th:text="${#strings.length(app.remark) le 15? app.remark: #strings.substring(app.mark,0,14)+'...'}" th:title="${app.remark}">remark  </td>

                <td th:text="${app.expireDate}">expireDate</td>
                <td style="min-width: 200px;">

                    <a th:name="${app.appID}" th:if="${app.state==-1}"  onclick="f_del(this.name,0)" class="layui-btn layui-btn-small">禁用</a>
                    <a th:name="${app.appID}" th:if="${app.state==1}"   onclick="f_del(this.name,1)" class="layui-btn layui-btn-small">启用</a>
                    <a th:name="${app.appID}"    onclick = "editRecord(this.name)"   class="layui-btn layui-btn-small">编辑</a>

                </td>

            </tr>
            </tbody>
        </table>

        <div id="pagerDiv2"  style="text-align: center;"></div>




    </div>
    

</div>


    <script>
    /*<![CDATA[*/
    var jj,$;
    layui.use(['form', 'main', 'jquery', 'util', 'layer', 'laypage'], function () {
        var form = layui.form();
            $ = layui.jquery,
            jj = $,
            layedit = layui.layedit,
            laydate = layui.laydate;

        form.render('select');

        var laypage = layui.laypage
            , layer = layui.layer;

        laypage({
            cont: 'pagerDiv2'
            , pages: $("#pagerTotalPage").val() //总页数
            , groups: 5 //连续显示分页数
            , curr : $("#pagerCurrPage").val()
            ,jump: function(obj, first){
                //得到了当前页，用于向服务端请求对应数据
                var curr = obj.curr;
                var name = $("#name").val();
                var state = $("#state").val();

                if($("#pagerCurrPage").val()!=curr){
                    window.location.href = "http://" + window.location.host +"/web/app/index?state="+state+"&name="+ encodeURI(name)+"&pageNum="+curr+"&t="+new Date().getTime();

                }



            }
        });


    });

    function initPage() {
        $("#"+$("#selectedItem").val()).addClass("layui-this");
    }

    function f_del(id,state) {
        var msg ;
        if(0==state){
            msg = "您确定要禁用？";
        }else {
            msg = "您确定要启用？";
        }
        layer.confirm( msg , {icon: 3, title: '警告'}, function (index) {
            layui.jquery.getJSON("/web/app/updateStatus/" + id, function (data) {
                layui.layer.msg(data.msg);
                if (data.success == true) {
                    setTimeout(function () {
                        appList();
                    }, 2000);
                }
            });
            layer.close(index);
        });

    }


    function editRecord(recordID) {
        window.location.href = "http://" + window.location.host +"/web/app/edit?id="+recordID;
    }
    function appList() {
        window.location.href = "http://" + window.location.host +"/web/app/index";
    }
    function appAdd() {
        window.location.href = "http://" + window.location.host +"/web/app/edit" +"?t="+new Date().getTime();
    }

    function  searchFunc() {

        var name = $("#name").val();
        var state = $("#state").val();

        window.location.href = "http://" + window.location.host + "/web/app/index?state="+state+"&name="+ encodeURI(name)+"&t="+new Date().getTime();
    }
    /*]]>*/

</script>

</body>
</html>